/* basic layout styles */

html,
body,
#page  {
  height: 100%;
}

#page-wrapper {
  min-height: 100%;
  min-width: 960px;
  background:#ccd2d2 url(../images/bg_page.png) top left repeat-x;
}

div.page-wide-wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;  
}

/* header styles */
#header-wrapper {
  background:url(../images/bg_header.png) top center repeat-y;
  padding-top:20px;
}

#header {
  position:relative;
}

#header #logo {
  float:left;
  height:70px;
  line-height:70px;
}

#header #logo img {
  line-height:70px;
  vertical-align:middle;
}

#header #secondary-menu {
  position:absolute;
  top:0px;
  right:0px;
}

#header #main-menu {
  margin-top:20px;
  height:40px;
  overflow:hidden;
}

#header #main-menu #main-menu-links {
  height:40px;
  overflow:hidden;
}

/* main styles */

#main-wrapper {
  background:url(../images/bg_main-wrapper.png) top center repeat-y;
  padding:40px 0;
}

#main.with-sidebar {
  background:url(../images/bg_main.png) top center repeat-y; 
}

#main.with-sidebar #content-wrapper {
  float:left;
  width:640px;
}

/* sidebar styles */
#sidebar-wrapper {
  width:240px;
  float:right;
}