/* common styles */
body {
  font-family: "Lucida Sans", "Lucida Grande", Lucida, sans-serif;
  color:#323739;
  line-height: 1.5;
  font-size:62.5%;
  word-wrap: break-word;
}

a,
a:link {
  color:#007597;
  text-decoration:none;
}

a:hover {
  color:#007597;
  text-decoration:underline;
}

p {
  margin-bottom:1em;
}

h1 {
  font-size:2em;
  color:#74868b;
}

h2 {
  font-size:1.4em;
}

h3 {
  font-size:1.2em;
}

h4 {
  font-size:1em;
}

h5 {
  font-size:0.8em;
}

/* header styles */

#header {
  color:#cde2e2;
}

#header a {
  color:#fff;
}

#header #site-name {
  font-size:24px;
  line-height:40px;
  text-transform:uppercase;
  font-weight:bold;
  float:left;
}

#header #site-slogan {
  font-size:18px;
  float:left;
  line-height:50px;
  border-left:1px solid #4c5b60;
  margin-left:20px;
  margin-top:10px;
}

#header #site-slogan-inside {
  border-left:1px solid #a7b6b9;
  padding-left:20px;
}

#header #main-menu {
  
}

#header #main-menu ul li {
  display:block;
  float:left;
  padding:0;
  margin:0;
}

#header #main-menu ul li a {
  display:block;
  float:left;
  padding:0 0.8em;
  margin:0;
  font-size:1.5em;
  text-transform:uppercase;
  font-weight:bold;
  font-weight:bolder;
  letter-spacing:0.1em;
  line-height:40px;
  text-shadow:1px 1px 1px #191c1c;
}

#header #main-menu ul li a.active,
#header #main-menu ul li a.inpath {
  background:#6b7578;
}

#header #main-menu ul li a:hover {
  text-decoration:none;
  color:#cde2e2;
}

#header #secondary-menu ul li a {
  font-size:11px;
  text-transform:uppercase;
}

/* block */
.block {
  margin-bottom:1em;
}

/* menu list */
ul.menu {
  padding-left:10px;
}

/* main styles */
.node .submitted {
  font-size:12px;
  padding:5px 2px;
  border-bottom:1px solid #bdc9cd;
  border-top:1px solid #bdc9cd;
  color:#6b7578;
  margin-bottom:1em;
}

.node-teaser .submitted {
  font-size:11px;
  padding:5px;
}

.emona-box-title {
  color:#6b7578;
  font-weight:bold;
  text-transform:uppercase;
  font-size:12px;
  border-bottom:1px solid #bdc9cd;
  padding:10px 8px;
  background:url(../images/bg_emona-box-title.png) top left repeat-x;
  margin-bottom:0.5em;
}

.comment {
  font-size:0.8em;
}

/* content styles */
#content {
  font-size:1.4em;
}

/* sidebar styles */

#sidebar {
  font-size:1.2em;
}